<?xml version="1.0"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean id="disk1" class="tr.gov.adalet.bean.Disk">
		<property name="kapasite" value="1Tb" />
	</bean>
	
	<bean id="disk2" class="tr.gov.adalet.bean.Disk">
		<property name="kapasite" value="2Tb" />
	</bean>
	
	<bean id="bilgisayar" class="tr.gov.adalet.bean.Bilgisayar">
		<property name="marka" value="Asus" />
		<property name="ram" value="2" />
	</bean>

	<bean id="bilgisayar2" class="tr.gov.adalet.bean.Bilgisayar">
		<property name="marka" value="Dell" />
		<property name="ram" value="8" />
	</bean>
	
	<bean id="bilgisayar3" class="tr.gov.adalet.bean.Bilgisayar">
	    <constructor-arg value="Monster"/>
	    <constructor-arg value="32"/>
	    <constructor-arg ref="disk1"/>
	</bean>
	<bean id="bilgisayar4" class="tr.gov.adalet.bean.Bilgisayar" factory-method="bilgisayarOlustur"/>

</beans>